/* assets/css/custom.css */
.home-posts a {
  text-decoration: none;
  color: #FF0033;
}
.home-posts a:hover {
  text-decoration: underline;
}

.content-wrapper {
  display: flex;
  gap: 2rem;
}

.toc-sidebar {
  width: 250px;
  position: sticky;
  top: 4rem;
  background: #f8f9fa;
  padding: 1rem;
  border-left: 1px solid #ddd;
}

.home-posts ul {
    columns: 2;        /* 两列 */
    column-gap: 2rem;  /* 列间距可选 */
    list-style-type: none;
    padding: 0;
  }

.home-posts li {
    break-inside: avoid;  /* 避免单个 li 被拆开 */
    margin-bottom: 0.5rem;
}