/* assets/css/custom.css */
.home-posts ul {
  list-style: none;
  padding-left: 0;
}
.home-posts li {
  margin-bottom: 0.5em;
  margin-left: 10px;
}
.home-posts a {
  text-decoration: none;
  color: #FF0033;
}
.home-posts a:hover {
  text-decoration: underline;
}
